@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  font-family: "Press Start 2P";
  color: white;

  background: url(/images/dark-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
  width: 100%;
  max-width: 38rem;
  margin: auto;
}

.greenText {
  color: #ffffff;
}

.healthbar {
  width: 100%;
  height: 40px;
  border: 1px solid #575757;
  margin: 1rem 0;
  background: #fde5e5;
}
.healthbar__value {
  background-color: #0b8955;
  width: 100%;
  height: 100%;
}

.container {
  text-align: center;
  padding: 2rem;
  margin: 0.5rem auto;
  margin-top: 4.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  background-color: #2b323a;
  border: 5px solid #d3b289;
}

#monster h2,
#player h2 {
  margin: 0.25rem;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.2rem;
  touch-action: manipulation;
}

p {
  color: white;
  font-size: 14px;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 150px;
  border: 1px solid transparent;
  touch-action: manipulation;
}
img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  touch-action: manipulation;
}

button {
  position: relative;

  background-color: #883edd;
  border: none;
  font-size: 14px;
  font-family: "Press Start 2P";

  color: #ffffff;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: #ae68ff;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.caption {
  display: block;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#log li {
  margin: 0.5rem 0;
}

.log--player {
  color: #ae68ff;
}

.log--monster {
  color: #da8d00;
}

.log--damage {
  color: red;
}

.log--heal {
  color: green;
}
