@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Press Start 2P";
}

body {
  margin: 0;
  background-image: url(/images/background.webp);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  color: white;
}

section {
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

.healthbar {
  width: 100%;
  height: 40px;
  border: 1px solid #575757;
  margin: 1rem 0;
  background: #fde5e5;
}
.healthbar__value {
  background-color: #0b8955;
  width: 100%;
  height: 100%;
}

.container {
  text-align: center;
  padding: 2rem;
  margin: 1rem auto;
  margin-top: 5.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  background-color: #2b323a;
  border: 5px solid #d3b289;
}

#monster h2,
#player h2 {
  margin: 0.25rem;
}

#controls {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  margin-top: 3.2rem;
}

.textSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* margin-top: 3.2rem; */
  color: white;
  width: 50%;
  background-color: red;
}

/* .item img {
  width: 20%;
  cursor: pointer;
} */
p {
  color: white;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 150px;
}
img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.caption {
  display: block;
}

button {
  font: inherit;
  border: 1px solid #88005b;
  background-color: #4f2341;
  color: white;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin: 1rem;
  width: 12rem;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #af0a78;
  border-color: #af0a78;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  box-shadow: none;
  color: #3f3f3f;
  cursor: not-allowed;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#log li {
  margin: 0.5rem 0;
}

.log--player {
  color: #7700ff;
}

.log--monster {
  color: #da8d00;
}

.log--damage {
  color: red;
}

.log--heal {
  color: green;
}
